.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-weight: 700;
}
.date {
  color: #888;
  font-size: 14px;
}
