.icon {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 20px;
}
.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1em;
  letter-spacing: -0.05em;
}
.ment {
  font-size: 15px;
  color: #888;
  margin-bottom: 0.5em;
  letter-spacing: -0.05em;
}
.profile {
  margin-bottom: 40px;
}
.username {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.05em;
  padding-right: 0.3em;
}
