.bookList {
  display: flex;
  gap: 40px 20px;
  flex-wrap: wrap;
}

.bookList .item {
  width: calc(50% - 10px);
}

.done {
  margin-top: 10px;
  padding: 1em;
  text-align: center;
  font-size: 15px;
  color: #888;
}
