.header {
  margin-bottom: 20px;
}
.frameWrapper {
  padding: 0 20px;
}
.frame {
  text-align: center;
  background: #f3f3f3;
  padding: 30px 60px;
  margin-bottom: 20px;
}
.frame img {
  width: auto;
  height: 300px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.bookName {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: -0.04em;
}

.writter {
  font-size: 15px;
  color: #888;
  letter-spacing: -0.05em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.bookDate {
  font-size: 14px;
  letter-spacing: -0.04em;

  color: #888;
  margin-bottom: 1em;
}
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.bookIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 700;
}

.bookIcon .count {
  font-size: 13px;
}

.bookText {
  font-size: 14px;

  color: #555;
  margin-bottom: 10px;
}
.actionBar {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.actionBar > * {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}
.commentBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  width: 100%;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.skeleton .frame .img {
  height: 300px;
}
.skeleton .writter {
  height: 40px;
}

@media screen and (max-width: 600px) {
  .frameWrapper {
    padding: 0;
  }
}
