.myNav {
  list-style: none;
}
.myNav li {
  margin-bottom: 10px;
}
.me {
  min-height: 200px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
  border: 1px solid #eee;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.me > a {
  width: 100%;
}
.link {
  font-weight: 700;
  font-size: 18px;
}
